
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div align="center">
        <h1>
            Welcome to Customer Application
            <br />
            User ID : @ViewBag.loginid
            <br />
            @Html.ActionLink("Search", "Search", "Home")
        </h1>  
    </div>
</body>
</html>
